body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: white;
}

.page {
    width: 850px;
    background-color: rgb(245, 245, 245);
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 10px;
    line-height: 1.5;
}

.description-left {
    padding-right: 10px;
    line-height: 1.5;
}

.pure-g {
    margin-bottom: 10px;
}

.small-font {
    font-size: 13px;
}

.small-height {
    height: 10px;
    margin-top: 40px;
    margin-bottom: 0px;
}

.medium-height {
    height: 250px;
}

.large-height {
    height: 450px;
}
